/*
--------------------------
 CSS Base Typography
--------------------------
*/
body {
  font-size: 17px;
  color: #2F2F2F; }

::selection {
  background-color: #F9F09B; }

p {
  line-height: 1.4;
  margin: 0.5em 0 1em 0; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "jaf-facitweb";
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 0.4em; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em;
  line-height: 1.2; }

h3 {
  font-size: 2em;
  line-height: 1.2; }

h4 {
  font-size: 1em;
  line-height: 1.3;
  margin-bottom: 1em; }
